nav {
    background-color: #444;
    color: #fff;
    padding: 30px;
    text-align: center;
    margin-bottom: 0%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;  
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding-left:200px ;
    height: 757px;
    width: 514;
}

aside {
    position: fixed;
    top: 112;
    left: 1011;
    
    

}